services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_db
    ports:
      - "6333:6333"
    volumes:
      - qdrant_storage:/qdrant/storage
    restart: unless-stopped

  lsm-server:
    build:
      context: .
      dockerfile: Dockerfile
    image: lsm-server:dev
    container_name: lsm-server
    ports:
      - 7777:7777
    depends_on: 
    - qdrant
    environment:
       QDRANT_HOST: qdrant
       QDRANT_PORT: 6333
    restart: unless-stopped
    command: ["bash", "-c", "python3 qdrant_init.py && python3 lsm_server.py"]

volumes:
  qdrant_storage:
